/build

*.apk
*.ap_

*.dex
*.class
bin/
get/
out/
.gradle/
build/
*.lock
*.bin
local.properties
version.properties
proguard/
*.log
*.json

.navigation/

*.iml
.idea
.idea/misc.xml
.idea/workspace.xml.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries
.idea/

*.jks
*.keystore
